{% extends "users/base.html" %}

{% block title %}
Delete Attendance
{% endblock %}

{% block content %}

<div class="card shadow-sm border-0 mx-auto mt-5" style="max-width:500px;">

    <div class="card-body text-center">

        <h3 class="mb-4">

            Delete Attendance

        </h3>

        <p>

            Are you sure you want to delete this attendance?

        </p>

        <strong>

            {{ attendance.employee }}

            <br>

            {{ attendance.date }}

        </strong>

        <form
            method="POST"
            class="mt-4"
        >

            {% csrf_token %}

            <button
                type="submit"
                class="btn btn-danger"
            >

                Delete

            </button>

            <a
                href="{% url 'attendance-list' %}"
                class="btn btn-secondary"
            >

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}