{% extends "users/base.html" %}

{% block title %}
Attendance
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-5">

    <h2 class="mb-0">
        Attendance List
    </h2>

    <div class="d-flex gap-2">

        <a href="{% url 'attendance-create' %}"
           class="btn btn-primary">

            <i class="fa-solid fa-plus"></i>
            Mark Attendance

        </a>

        <a href="{% url 'attendance-bulk-create' %}"
           class="btn btn-success">

            <i class="fa-solid fa-calendar-check"></i>
            Bulk Attendance

        </a>

    </div>

</div>

<div class="row mb-4">

    <div class="col-md-3">

        <div class="card border-0 shadow-sm">

            <div class="card-body text-center">

                <h6 class="text-muted">

                    Present

                </h6>

                <h3 class="text-success">

                    {{ present_count }}

                </h3>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card border-0 shadow-sm">

            <div class="card-body text-center">

                <h6 class="text-muted">

                    Late

                </h6>

                <h3 class="text-warning">

                    {{ late_count }}

                </h3>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card border-0 shadow-sm">

            <div class="card-body text-center">

                <h6 class="text-muted">

                    Leave

                </h6>

                <h3 class="text-secondary">

                    {{ leave_count }}

                </h3>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card border-0 shadow-sm">

            <div class="card-body text-center">

                <h6 class="text-muted">

                    Absent

                </h6>

                <h3 class="text-danger">

                    {{ absent_count }}

                </h3>

            </div>

        </div>

    </div>

</div>

<form method="GET" class="mb-5">

    <div class="row g-2 align-items-stretch">

        <div class="col-md-6">

            <input
                type="text"
                name="search"
                value="{{ search }}"
                class="form-control"
                placeholder="Search employee..."
            >

        </div>

        <div class="col-md-5">

            <input
                type="date"
                name="date"
                value="{{ date }}"
                class="form-control"
            >

        </div>

        <div class="col-md-1">

            <button
                type="submit"
                class="btn btn-primary w-100 h-100"
            >

                Search

            </button>

        </div>

    </div>

</form>

<div class="card shadow-sm border-0">

    <div class="table-responsive">

        <table class="table table-bordered table-striped mb-0">

            <thead class="table-dark">

                <tr>

                    <th>Employee</th>
                    <th>Date</th>
                    <th>Check In</th>
                    <th>Check Out</th>
                    <th>Status</th>
                    <th width="130">Action</th>

                </tr>

            </thead>

            <tbody>

            {% for attendance in attendances %}

                <tr>

                    <td>

                        {{ attendance.employee.first_name }}
                        {{ attendance.employee.last_name }}

                    </td>

                    <td>{{ attendance.date|date:"d M Y" }}</td>

                    <td>{{ attendance.check_in|time:"h:i A" }}</td>

                    <td>{{ attendance.check_out|time:"h:i A" }}</td>

                    <td>

                        {% if attendance.status == "Present" %}

                            <span class="badge bg-success">
                                Present
                            </span>

                        {% elif attendance.status == "Late" %}

                            <span class="badge bg-warning text-dark">
                                Late
                            </span>

                        {% elif attendance.status == "Absent" %}

                            <span class="badge bg-danger">
                                Absent
                            </span>

                        {% elif attendance.status == "Half Day" %}

                            <span class="badge bg-info text-dark">
                                Half Day
                            </span>

                        {% else %}

                            <span class="badge bg-secondary">
                                Leave
                            </span>

                        {% endif %}

                    </td>

                    <td>

                        <div class="d-flex align-items-center gap-2">

                            <a
                                href="{% url 'attendance-detail' attendance.id %}"
                                class="btn btn-sm text-info"
                            >
                                <i class="fa-solid fa-eye"></i>
                            </a>

                            <a
                                href="{% url 'attendance-update' attendance.pk %}"
                                class="btn btn-action btn-edit"
                            >
                                <i class="fa-solid fa-pen"></i>
                            </a>

                            <a
                                href="{% url 'attendance-delete' attendance.pk %}"
                                class="btn btn-action btn-delete"
                            >
                                <i class="fa-solid fa-trash"></i>
                            </a>

                         </div>

                    </td>

                </tr>

            {% empty %}

                <tr>

                    <td colspan="5" class="text-center py-5">

                        <i class="fa-solid fa-calendar-check fa-3x text-secondary mb-3"></i>

                        <h5>No Attendance Found</h5>

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

        <nav class="mt-4">

            <ul class="pagination justify-content-center">

                {% if attendances.has_previous %}

                    <li class="page-item">

                        <a
                            class="page-link"
                            href="?page={{ attendances.previous_page_number }}&search={{ search }}"
                        >
                            Previous
                        </a>

                    </li>

                {% else %}

                    <li class="page-item disabled">

                        <span class="page-link">

                            Previous

                        </span>

                    </li>

                {% endif %}

                {% for page in attendances.paginator.page_range %}

                    <li
                        class="page-item {% if attendances.number == page %}active{% endif %}"
                    >

                        <a
                            class="page-link"
                            href="?page={{ page }}&search={{ search }}"
                        >

                            {{ page }}

                        </a>

                    </li>

                {% endfor %}

                {% if attendances.has_next %}

                    <li class="page-item">

                        <a
                            class="page-link"
                            href="?page={{ attendances.next_page_number }}&search={{ search }}"
                        >

                            Next

                        </a>

                    </li>

                {% else %}

                    <li class="page-item disabled">

                        <span class="page-link">

                            Next

                        </span>

                    </li>

                {% endif %}

            </ul>

        </nav>

    </div>

</div>

{% endblock %}